.config/spotify/
.config/pulse
.config/nitrogen
.config/gtk-2.0
.config/flameshot
.config/discord
.config/dconf
.config/code-oss
.config/Code - OSS
.config/Code
.config/coc
.config/cef_user_data
.config/gtk-3.0
